$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$pharmacy-background: #fff;
$pharmacy-light-background: #f6f6f6;
$pharmacy-lighter-background: #dad9d9;
$pharmacy-font: #000;

$pharmacy-deep-blue: #467dbe;
$pharmacy-dark-blue: #3a6ba6;
$pharmacy-light-blue: #d2e5f4;

$pharmacy-primary-action-background: #d47d16;
$pharmacy-primary-action-background-darker: #c27315;
$pharmacy-primary-inline-action-font: #fff;
