@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "src/assets/styles/aptar-colors";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: HelveticaNeue, Roboto, sans-serif;
  letter-spacing: normal;
  background-color: $pharmacy-light-background;
  color: $pharmacy-font;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clickable {
  cursor: pointer;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}
